<ion-view view-title="Resources">
  <ion-content>
		<div  ng-style="{height: iframeHeight + 'px'}">
			<a href="#/app/wizard/-1" class="item header1">
				<div class="element">Wizard</div>
			</a>

			<a href="#/app/tree" class="item header2">
				<div class="element">Tree View</div>
			</a>

			<a href="#/app/categories/-1" class="item header3">
				<div class="element">Category View</div>
			</a>

			<a href="#/app/search" class="item header4">
				<div class="element">Search</div>
			</a>
		</div>
	</ion-content>
</ion-view>
