/* Empty. Add your own CSS if you like */
body {
	font-family: 'Oswald', sans-serif;
}
h2 {
	font-family: 'Oswald', sans-serif;	
}
.header1 {
	height: 25%; 
	background:url(../img/blue1.jpg);
	color: white;
	border:0px;
	border-width: 0px;
	border-style: none;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.header2 {
	height: 25%; 
	background:url(../img/blue2.jpg);
	color: white;
	border-width: 0px;
	border-style: none;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.header3 {
	height: 25%; 
	background:url(../img/blue3.jpg);
	color: white;
	border-width: 0px;
	border-style: none;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.header4 {
	height: 25%; 
	background:url(../img/blue4.jpg);
	color: white;
	border-width: 0px;
	border-style: none;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color:white;
  padding: 0 auto;
  font-size: 3.5em;


}

.item.item-dark{
border-color: #2D2D2D;
  background-color: #4A4A4C;
}
.title {

}

.item-content {
	background-color: #333;
}